<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Imports</title>
</head>
<body>
<th:block th:fragment="cssimports">
    <link rel="stylesheet" href="/default.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/dataTables.dataTables.css" />
</th:block>
<th:block th:fragment="jsimports">
    <script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</th:block>
<th:block th:fragment="jsimports_dataset">
    <script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/jquery3.7.1.min.js"></script>
    <script src="/dataTables.2.3.2.js"></script>
</th:block>
</body>
</html>