<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Operations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="~{layout/imports.html::cssimports}"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:insert="~{layout/menu.html::menu}"></th:block>
    <h1>Operations</h1>

    <form th:action="@{/operations/save}" method="post" class="row">
        <label class="col-3 col-lg-1 col-form-label" for="itemA">Source Path Key</label>
        <div class="col-3 col-lg-2">
            <select id="itemA" name="sourcePathKey" class="form-select">
                <option th:each="location: ${locations}" th:value="${location.pathkey}"
                        th:text="${location.fullPath}"></option>
            </select>
        </div>
        <label class="col-3 col-lg-1 col-form-label" for="itemB">Target Path Key</label>
        <div class="col-3 col-lg-1">
            <select id="itemB" name="targetPathKey" class="form-select">
                <option th:each="location: ${locations}" th:value="${location.pathkey}"
                        th:text="${location.fullPath}"></option>
            </select>
        </div>
        <label class="col-2  col-lg-1 col-form-label" for="itemC">Operation</label>
        <div class="col-2  col-lg-1">
            <select id="itemC" name="operationTypeId" class="form-select">
                <option th:each="operationType : ${operationTypes}" th:value="${operationType.id}"
                        th:text="${operationType.name}"></option>
            </select>
        </div>
        <div class="col-4  col-lg-1">
            <input type="submit" value="Add Operation"/>
        </div>

    </form>
    <div  class="row mt-4 mb-2">
        <h3 class="col-12">List</h3>
    </div>
    <div class="row">
        <div class="col">Source Path Key</div>
        <div class="col">Target Path Key</div>
        <div class="col">Operation</div>
        <div class="col">Action</div>
    </div>

    <div class="row" th:each="operation : ${operations}">
        <div class="col" th:text="${operation.sourcePath}"></div>
        <div class="col" th:text="${operation.targetPath}"></div>
        <div class="col" th:text="${operation.operationName}"></div>
        <div class="col" th:text="${operation.progressScan}"></div>
        <div class="col" >
            <p>Started: <span th:text="${operation.started}"></span>
            <p>Ready: <span th:text="${operation.ready}"></span>
            <p>Running: <span th:text="${operation.running}"></span>
            <p>Finished: <span th:text="${operation.finished}"></span>

        </div>
        <div class="col" th:text="${operation.finished}"></div>

        <div class="col">
            <form th:action="@{/operations/delete}" method="post">
                <input type="hidden" th:name="${operation.id}" th:value="${operation.id}"/>
                <input type="submit" value="Delete"/>
            </form>
        </div>
        <div class="col">
            <form th:action="@{/operations/start}" method="post">
                <input type="hidden" th:name="id" th:value="${operation.id}"/>
                <input type="submit" value="Scan"/>
            </form>
        </div>
        <div th:if="${operation.ready and not operation.running}">
            <form th:action="@{/steps/run}" method="post">
                <input type="hidden" name="id" th:value="${operation.id}">
                <input type="submit" value="Iniciar operação">
            </form>
        </div>
        <div th:if="${operation.running or operation.finished}" class="col">
            <a th:href="@{/steps/status/operation/{id}(id=${operation.id})}">Status</a>
        </div>
        <div th:if="${operation.ready and not operation.running}" class="col">
            <a th:href="@{/steps/operation/{id}(id=${operation.id})}">Scan Result</a>
        </div>
    </div>

</div>
<th:block th:insert="~{layout/imports.html::jsimports}"></th:block>
</body>
</html>