<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Locations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="~{layout/imports.html::cssimports}"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:insert="~{layout/menu.html::menu}"></th:block>
    <h1>Steps</h1>

    <div class="row" th:each="step : ${steps}">
        <div class="col-6 text-small" th:text="${step.targetPath}"></div>
        <div class="col-2 text-small" th:text="${step.statusMessage}"></div>
        <div class="col-2 text-small" th:text="${step.finished}"></div>
    </div>
</div>

<th:block th:insert="~{layout/imports.html::jsimports}"></th:block>

</body>
</html>
