<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Locations</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="~{layout/imports.html::cssimports}"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:insert="~{layout/menu.html::menu}"></th:block>
    <h1>Steps</h1>

    <div class="row" th:each="step : ${steps}">
        <div class="col-9 text-small" th:text="${step.targetPath}"></div>
        <div class="col-3">
            <div th:text="${step.operationType}"></div>
            <form th:action="@{/steps/delete}" method="post">
                <input type="hidden" th:name="id" th:value="${step.id}"/>
                <input type="submit" value="Delete"/>
            </form>
        </div>
    </div>
</div>


<form class="fixed-bottom-form" th:action="@{/steps/run}" method="post">
    <input type="hidden" name="id" th:value="${operation.id}">
    <input type="submit" value="Iniciar operação">
</form>
<th:block th:insert="~{layout/imports.html::jsimports}"></th:block>

</body>
</html>
